@import url('https://fonts.googleapis.com/css?family=Dancing+Script&text=Landings&display=swap');/*Solo los glifos Necesarios*/
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

main{
    max-width: 1400px;
    margin:auto;
}

#main-header{
    height:100vh;
    background-image: url("../img/main_hd.png");
}

.bg_full{
    background-position: center;3
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

.navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-size:3em;
}

.nav-item{
    margin-left:1em;
    margin-right:1em;
}

.nav-link, p {
    font-family: 'Poppins', sans-serif;
    font-size:1em;
}

.display-1,.display-2,.display-3,.display-4,.display-5{
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-style: normal;
}

button{
    font-size:1em
}

.jumbotron{
    background:none;
    margin:0 auto;
}

.img_sqr{
    height:100vw;
}

.card-img-top{
    width:25%;
    margin: 10%;;
}

/*Mobile-first*/
@media only screen and (min-width: 990px) {
    .img_sqr{
        height:auto;
    }
}